.header-home {
    box-sizing: border-box;                     
    /* A área do cabeçalho depende do seu conteúdo */
    
    display: flex;                              
    /* Deixa seus elementos internos livres */
    background: linear-gradient(240deg, #2E2E2E, #161616); 
    justify-content: space-between;
    padding: 1rem 0rem 1rem 0rem;
    margin: 0rem;
    align-items: center;
}

.header-logo{
    padding-left: 10%;
    
}

.topicos{
    margin-left: auto; /* Empurra .topicos para a direita */
    margin-right: 9.5%; /* Cria o espaço desejado à direita do elemento */
    margin-bottom: 0.5rem;
}

/* Estilo do botão celular sem tela pequena*/
.header-home .botao-celular {
    visibility: hidden;                         
    /* Esconde-se pois não precisa se a tela estiver grande) */
    
}


/* Tópicos do menu independente da tela */
nav a {
    color: #EBEBEB;                            
    text-decoration: none; 
    padding-left: 4rem;
    font-weight: 500;              
}

nav .perfil-bannerhome {
    padding-right: 4rem;

}


/* Tópicos do menu quando passar o mouse */
nav a:hover {
    color: #D4A5FF;                             
}

.sair {
    background-color: #2A2A2A;        
    padding: 0.5rem 0.75rem; 
    border-radius: 1rem;   
    border: 1px solid var(--branco);            
}

.sair:hover {
    background-color: var(--branco);        
    
    border-radius: 1rem;              
}

.auditoria-icone-banner{
    font-size: 2rem;
}

/* Programação quando a tela estiver na metade */
@media only screen and (max-width: 1280px) {
    .header-home{
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 3;
    }

    .header-home nav a{
        margin-bottom: 2rem;
    }

    /* Botão celular */
    .header-home .botao-celular {
        font-size: 2rem;                          
        /* Tamanho da fonte */

        visibility: visible;                    
        /* Deisa clicável */

        opacity: 1;

        color: #D4A5FF;                            
        /* Define a cor do ícone */

        background: transparent;

        border-color: transparent;
        margin-right: 5%;
        
    }

    /* Menu que desce */
    .header-home nav {
        position: fixed;                        
        /* Fixa na tela o menu que não desce*/
        /* [IMPORTANTE] */
        
        top: -110vh;                            
        /* Posição de baixo para cima quando aba descer */
        
        height: 75%;                           
        /* Altura da aba que desce */
        
        width: 100%;                            
        /* Largura da aba que desce */
        
        opacity: 1;

        display: flex;                          
        /* Tópicos do menu flexível quando aba descer */
        
        flex-direction: column;                 
        /* Tópicos viram colunas */
        
        align-items: center;                    
        /* Tópicos centralizados horizontalmente */
        
        justify-content: center;                
        /* Tópicos centralizados verticalmente */
        
        background-color: #6000B6;             
        /* Cor da aba que desce */
        
        transition: 0.5s;                         
        /* Tempo pra aba descer */

        z-index: 2;

        
    
    }


    /* Mostrando a aba que desce */
    .header-home .responsivo {
        transform: translateY(120vh);           


    }


    /* Ícone que fecha aba que desce */
    nav .botao-fechar {
        position: absolute;                     /* Define a posição absoluta para o botão de fechar a navegação responsiva */
        top: 2rem;                              /* Define a distância de 2 rem do topo da tela para o botão de fechar */
        right: 2rem;                            /* Define a distância de 2 rem da direita da tela para o botão de fechar */
    }

    /* Tamanho dos tópicos dentro da aba que desce */
    nav a {
        font-size: 1.5rem;                  /* Define o tamanho da fonte dos links dentro da navegação responsiva como 1.5 rem */
    }

    nav .perfil-bannerhome {
        background-color: var(--branco);
        color: var(--roxo);  
        padding: 0.5rem;
        width: 52%;
        text-align: center;
        border-radius: 1rem;
        border: none;
    }

    nav .botao-bannerhome {
        padding: 0.5rem;
        border-radius: 1rem;
        margin: 0;
        width: 52%;
        border: 1px solid var(--branco);
        text-align: center;
    }

    nav .sair {
        padding: 1rem;
        border-radius: 1rem;
        margin: 0;
        width: 25%;
        border: 1px solid var(--branco);
        text-align: center;
    }
}

