.digiteseuemail {
    display: flex;
    flex-direction: column; /* Define a direção dos itens como coluna */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    padding-bottom: 25rem;
    
  }
  
.campos-email {
    max-width: 30rem;
    width: 70%;
    min-width: 6rem;
    margin-top: 10%;
    padding: 10%;
    background-color: var(--branco);
    border: 1px solid rgb(134, 134, 134, 0.25);
    border-radius: 1rem;
}

.botao-email-centralizar{
    text-align: center;
}
