/* Estilo do rodapé */
footer {
  background: linear-gradient(135deg, #2E2E2E, #161616);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #FFFFFF;
  padding: 1rem 0 0.8rem;
  font-size: 1.3rem;
  position: static; /* Remove a fixação do rodapé para telas pequenas */
  bottom: 0;
  margin-top: 5rem;
}

/* Estilo da logo do rodapé */
.footer-logo {
  max-width: 100%;
  height: auto;
}

/* Estilo do título no rodapé */
h6 {
  margin: 0;
  text-align: center;
}

/* Media Query para telas pequenas */
@media (max-width: 780px) {
  footer {
    position: static; /* Remove a fixação do rodapé para telas pequenas */
    margin-top: 4rem; /* Adiciona margem superior para separação do conteúdo */
    padding: 1rem 0; /* Ajusta o padding para telas pequenas */
    font-size: 1.3rem;
  }

  .footer-logo {
    max-width: 100%;
    height: auto;
  }

  h6 {
    margin: 0;
    text-align: center;
  }
}
