
.botoes-treinamento-editar-conteiner{
    
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.5rem;
}

.botoes-treinamento-editar{
    
    display: flex;
    justify-content: flex-start;
    gap: 3%;
    width: 83%;
}

@media (max-width: 567px) {
    .botoes-treinamento-editar .icon {
        display: inline; /* Mostra os ícones em telas pequenas */
    }
    
    .botoes-treinamento-editar span {
        display: none; /* Esconde o texto em telas pequenas */
    }
}