.topo-telas {
    padding: 2rem 10%;
}

.titulo-pagina {
    color: #2D2D2D;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    position: relative;
    left: 0px;
}

.descricao-titulo {
    color: #ABABAB;
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.botoes-titulo-pagina {
    display: flex;
    gap: 1.5rem;
    padding-right: 2rem;
    flex-wrap: nowrap;
}

@media (max-width: 768px) {
    .topo-telas {
        padding: 2rem 5%;
    }
}

@media (max-width: 480px) {
    .botoes-titulo-pagina {
        flex-direction: row;
        gap: 0.75rem;
    }
}

.divisorbaixo{
    width: 80%;
    margin-bottom: 2rem;
}

.divisorcima{
    margin-top: 2rem;
    margin-bottom: 1rem;
}