/* Contêiner principal */
.topo-telass {
    padding: 2rem 10%;
    display: flex;
    flex-direction: column; /* Coloca os elementos em coluna */
    align-items: flex-start; /* Alinha os itens ao início */
}

/* Contêiner flexível para título e descrição */
.titulo-e-descricaoo {
    display: flex;
    align-items: center;
    width: 100%; /* Garante que ocupe a largura completa */
    gap: 1rem;
}

/* Estilos de título */
.titulo-paginaa {
    color: var(--preto);
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    padding-top: 1.25rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.descricao-tituloo {
    color: var(--cinza-escuro);
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding: 1.9rem;
}

/* Ajustes específicos para descrição-titulo */
.descricao-tituloo {
    font-size: 1rem;
}

/* Contêiner de botões */
.conteiner-botaoo {
    width: 100%; /* Garante que ocupe a largura completa */
    margin-top: 1rem; /* Espaço entre descrição e botões */
}

/* Estilos de botões */
.botoes-titulo-paginaa {
    display: flex;
    gap: 1.5rem;
    flex-wrap: nowrap;
}

/* Ajustes de mídia para responsividade */
@media (max-width: 768px) {
    .titulo-e-descricaoo {
        flex-direction: column; /* Alinha os elementos em coluna em telas pequenas */
        align-items: flex-start;
    }
}

/* Ajustes de mídia para responsividade */
@media (max-width: 768px) {
    .roxoo, .brancoo {
        padding: 1rem 1.65rem;
    }
}

@media (max-width: 768px) {
    .titulo-e-descricaoo {
        flex-direction: row; /* Alinha os elementos em linha em telas pequenas */
        justify-content: space-between;
    }
    .titulo-paginaa {
        font-size: 1.5rem; /* Reduz o tamanho da fonte para melhor ajuste */
        padding: 0rem;
        text-align: center;
    }
    .descricao-tituloo {
        font-size: 1rem; /* Reduz o tamanho da fonte para melhor ajuste */
        padding: 2.55rem 1rem;
        text-align: center;
    }
    .botoes-titulo-paginaa {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1rem;
    }
    .conteiner-botaoo {
        text-align: center; /* Centraliza os botões em telas pequenas */
    }
}

/* Estilos de divisores */
.divisorbaixoo, .divisorcimaa {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--cinza);
    width: 100%;
}
