/* Estilo do contêiner pai */
.home-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 11rem;
    gap: 5rem;
    box-sizing: border-box; /* Inclui padding e borda no tamanho total do elemento */
    max-width: 100vw; /* Garante que não ultrapasse a largura da viewport */
    overflow-x: auto; /* Permite rolagem horizontal se necessário */
    overflow-y: auto; /* Permite rolagem vertical se necessário */
}

/* Estilo do card */
.card {
    position: relative; /* Importante para o posicionamento do botão */
    border: 1px solid rgba(185, 185, 185, 0.5);
    text-align: center;

    padding: 3rem 2rem;
    border-radius: 1.5rem;
    width: 22rem;
    height: 30rem;
    background-color: #FFFFFF;
    text-decoration: none;
    box-sizing: border-box; /* Inclui padding e borda no tamanho total do elemento */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Garante que os filhos não ultrapassem os limites do card */
}

/* Botão no card */
.botao-home-card {
    position: absolute;
    bottom: 3rem; /* Distância de 3rem do final */
    left: 50%; /* Centralizar horizontalmente */
    transform: translateX(-50%); /* Ajuste para centralizar horizontalmente */
    text-decoration: none;
}

/* Título do card */
.card-title {
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
    color: #141414;
    font-weight: 700; /* Alterado para 700 para um negrito padrão */
    text-decoration: none;
}

/* Descrição do card */
.card-description {
    margin: 0;
    padding: 1rem 0rem 2rem 0rem;
    font-size: 1.25rem;
    color: #707070;
    text-decoration: none;
    height: 1rem;
}

/* Estilo para os links */
.botao-enfeite {
    text-decoration: none;
    background-color: var(--roxo);
    color: var(--branco);
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
}

.botao-enfeite:hover {
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer; /* Ajustado para cursor pointer */
}

.botao-enfeite:active {
    background-color: var(--preto);
}

/* Container geral */
.conteiner-geral {
    border-radius: 1rem;
    display: flex;
    width: 30rem;
    position: relative;
    box-sizing: border-box; /* Inclui padding e borda no tamanho total do elemento */
}

/* Container dos quadrados */
.conteiner-quadrados {
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 10rem;
    position: relative;
    align-items: flex-end; /* Alinha os quadrados no fundo */
    box-sizing: border-box; /* Inclui padding e borda no tamanho total do elemento */
}

/* Estilo dos quadrados */
.quadrados {
    height: 4rem;
    width: 4rem;
    background-color: var(--preto);
    border-radius: 1rem;
    flex-direction: column;
    display: flex;
    transition: transform 0.5s ease; /* Adiciona uma transição suave */
}

.quadrados:hover {
    transform: translateY(-7.5rem) rotate(360deg); /* Move o quadrado para cima e gira 360 graus ao passar o mouse */
    transition: transform 0.5s ease-in-out; /* Adiciona uma transição suave para a movimentação e rotação */
}



