/* Estilo do contêiner pai */
.home-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    gap: 5rem;
    padding: 2rem; /* Adiciona espaço ao redor do conteúdo */
    box-sizing: border-box; /* Inclui padding e borda no tamanho total do elemento */
    max-width: 100vw; /* Garante que não ultrapasse a largura da viewport */
    overflow-x: auto; /* Permite rolagem horizontal se necessário */
    overflow-y: auto; /* Permite rolagem vertical se necessário */
}

/* Estilo do card */
.card {
    position: relative; /* Importante para o posicionamento do botão */
    border: 1px solid rgba(185, 185, 185, 0.5);
    text-align: center;
    margin-bottom: 0rem;
    padding: 3rem 2rem;
    border-radius: 1.5rem;
    width: 24rem;
    height: 30rem;
    background-color: #FFFFFF;
    text-decoration: none;
    box-sizing: border-box; /* Inclui padding e borda no tamanho total do elemento */
}

.botao-home-card {
    position: absolute;
    bottom: 3rem; /* Distância de 3rem do final */
    left: 50%; /* Centralizar horizontalmente */
    transform: translateX(-50%); /* Ajuste para centralizar horizontalmente */
    text-decoration: none;
}

.card-title {
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
    color: #141414;
    font-weight: 700; /* Alterado para 700 para um negrito padrão */
    text-decoration: none;
}

.card-description {
    margin: 0;
    padding: 1rem 0rem 2rem 0rem;
    font-size: 1.25rem;
    color: #707070;
    text-decoration: none;
}

/* Estilo para os links */
.botao-enfeite {
    text-decoration: none;
    background-color: var(--roxo);
    color: var(--branco);
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
}

.botao-enfeite:hover {
    font-weight: bold;
    font-size: 1.25rem;
    cursor: cell;
    cursor: pointer;
}

.botao-enfeite:active {
    background-color: var(--preto);
}
