.digite-codigo {
    display: flex;
    flex-direction: column; /* Define a direção dos itens como coluna */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    text-align: center;
    margin-top: 10%;
    margin-bottom: 15rem;
  }

  .conteiner-digite{
    border: 1px solid rgb(134, 134, 134, 0.25);
    display: flex;
    justify-content: center;
    width: 70%;
    border-radius: 1rem;
    background-color: var(--branco);
    padding: 10%;
  }

.p-digite-o-codigo{
    padding-bottom: 1rem;
}
  
.campos-digite-codigo {
    max-width: 30rem;
    width: 77%;
    min-width: 6rem;
    text-align: center;
    display: block;
  }

  .botoes-digite-codigo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }