
* {
    margin: 0rem;
    font-family: 'Nunito Sans', sans-serif;
    padding: 0rem;
  }

.App{
    background-color: var(--branco-escuro);
  }
  
  :root {
    --roxo: #6000B6; 
    --preto: #202224; 
    --preto-escuro: #111111;
    --cinza: #e6e6e63d;
    --branco-escuro: #F5F5F5; 
    --branco: #FFFFFF;

    --vermelho-escuro: #C53838;
    --vermelho: #FF5B5B;
    --salmao: #FFC6C6;
    --laranja: #FF9900;
    --amarelo: #FFC700;
    --verde: #30B72E;
    --cinza-escuro: #969696;

    --azul: #42A4EC;
    --rosa: #F18DF3;
}

::-webkit-scrollbar {
  width: 1.5rem; /* Largura do scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: var(--roxo); /* Cor do thumb do scrollbar */
  border-radius: 0.5rem; /* Arredondamento geral do thumb */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Cor do fundo do scrollbar */
  border-radius: 1rem 0rem 0rem 1rem; /* Arredondamento apenas nos lados direito e esquerdo */
}

