/* Estilos gerais */
.metricas {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 80%;
    margin: auto;
    text-align: center;
    border-radius: 1rem;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.message{
    z-index: 10;
}

.popup-message {
    position: fixed;
    top: 20px; /* Distância do topo da tela */
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--vermelho-escuro); /* Fundo semi-transparente */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000; /* Certifique-se de que esteja acima do modal */
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.popup-message.verde {
    background-color: green; 
    color: white;
}

.popup-message.vermelho {
    background-color: red; 
    color: white;
}



.popup-message.show {
    opacity: 1; 
}


.bloco {
    flex: 1;
    margin: 0.25rem;
    border-radius: 1rem;
    min-width: 1rem;
    box-sizing: border-box;
}

.bloco1 {
    background-color: var(--branco);
}

.bloco2 {
    display: grid;
    background-color: none;
    justify-self: center;
    gap: 0.5rem;
}

.bloco3 {
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--branco);
    padding: 3rem 0rem;
}

/* Estilo para os gráficos dentro de bloco3 */
.grafico1, .grafico2 {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.legendas-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.legendas {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
}

.legenda {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
}

/* Estilo para os itens dentro dos blocos */
.bloco1-1, .bloco2-1, .bloco2-2, .bloco2-3 {
    border-radius: 0.25rem;
}

.bloco1-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: flex-start;
    padding-left: 4rem;
    color: #565656;
    text-align: center;
}

.bloco2-1, .bloco2-2, .bloco2-3 {
    border: 1px solid var(--cinza);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--branco);
    border-radius: 1rem;
}

.bloco2-1 img, .bloco2-2 img, .bloco2-3 img {
    margin-right: 1rem;
    margin-left: 0.5rem;
    width: 4.5rem;
    height: 100%;
}

.bloco2-1 p, .bloco2-2 p, .bloco2-3 p {
    margin: 0;
}

/* Contêiner principal */
.topo-telas {
    padding: 2rem 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Contêiner flexível para título e descrição */
.titulo-e-descricao {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin-bottom: 0.85rem;
    flex-wrap: nowrap;
}

/* Estilos de título */
.titulo-pagina {
    color: var(--branco-escuro);
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    background: linear-gradient(90deg, rgba(96,0,182,1) 0%, rgba(39,0,73,1) 100%, rgba(0,212,255,1) 270049%);
    padding: 1.25rem 3.25rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    border: 1px solid var(--roxo);
    cursor: copy;
    box-sizing: border-box;
}

.descricao-titulo {
    color: var(--cinza-escuro);
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
    background-color: var(--branco);
    border-radius: 1rem;
    display: block;
    align-items: center;
    padding: 1.9rem;
    border: 1px solid var(--cinza-escuro);
    cursor: copy;
    flex-wrap: nowrap;
}

.conteiner-botao {
    width: 100%;
    margin-top: 1rem;
}

.botoes-titulo-pagina {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    max-width: 1rem;
}

/* CSS geral */
.botoes-titulo-pagina .icon {
    display: inline; /* Esconde os ícones por padrão em telas grandes */
}

/* Media Query para telas pequenas */
@media (max-width: 567px) {
    .botoes-titulo-pagina .icon {
        display: inline; /* Mostra os ícones em telas pequenas */
    }
    
    .botoes-titulo-pagina span {
        display: none; /* Esconde o texto em telas pequenas */
    }
}


@media (max-width: 1139px) {
    .titulo-pagina { 
        font-size: 1.032rem;
        padding: 1rem;
        text-align: center;
    }

    .descricao-titulo {
        font-size: 1.032rem;
        padding: 1rem;
        text-align: center;
    }
    .conteiner-botao {
        text-align: center;
    }

    .metricas {
        width: 80.5%;
        flex-direction: column;
    }
    
    .bloco1-1 {
        gap: 1rem;
        padding: 1rem;
    }

    .empty-direita-um {
        margin: 2rem 2rem 0rem 2rem;
        text-align: center;
    }
}

.topico {
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    margin: 0;
    color: var(--cinza-escuro);
    padding-left: 1rem;
    padding-bottom: 0.15rem;
    padding-top: 0.5rem;
}

.valor-topico {
    font-size: 1.1rem;
    text-align: left;
    margin: 0;
    font-weight: bold;
    color: var(--preto);
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

.bloco2-1, .bloco2-2, .bloco2-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.treinamentos {
    justify-content: center;
    align-items: center;
    border-radius: 2.5%;
    display: flex;
    text-decoration: none;
}

.treinamentos-card {
    border: 1px solid #EBEBEB;
    width: 78.75%;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    color: inherit;
    text-decoration: none;
    background-color: var(--branco);
    min-height: 12rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    width: 100%;
    text-decoration: none;
}

.link-card,
.link-card:hover,
.link-card:visited,
.link-card:active {
    text-decoration: none;
    color: inherit;
}

.treinamento-item {
    border: 0.25rem solid var(--preto);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25rem;
    max-width: 20rem; /* Adiciona um valor máximo de largura para evitar que fique muito grande */
    text-decoration: none;
    gap: 2.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza a transformação e a sombra */
    background-color: var(--branco);
}

/* Efeito de sobressair ao passar o mouse */
.treinamento-item:hover {
    transform: scale(1.05); /* Ajusta o tamanho do card para 105% */
    box-shadow: 0 4px 10px rgba(55, 54, 56, 0.1); /* Adiciona uma sombra para dar profundidade */
}

.topo {
    display: flex;
    flex-direction: column;
}

.fundo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nome-card, .registro-card {
    margin: 0;
    padding-bottom: 0.5rem;
}

.registro-card {
    cursor: copy;
}

.link-card:hover,
.link-card:visited,
.link-card:active {
    color: inherit;
    text-decoration: none;
}

.destaque {
    color: var(--branco);
    background-color: var(--preto);
    border-radius: 1rem;
    padding: 0.1rem 0.75rem;
}





.course_type, .realization_status {
    color: var(--cinza-escuro);
    font-size: 1.25rem;
    cursor: copy;
}

.email-colaborador {
    cursor: copy;
    text-wrap: wrap;
}

.realization_status {
    color: var(--preto);
}

.meio-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
    color: var(--preto);
}

.meio {
    display: flex;
    align-items: center;
}

.bloco3 {
    display: inline-block;
}

.apexcharts-legend {
    display: none !important;
}

.quadrado-legenda {
    margin-right: 0.5rem;
}

.apexcharts-datalabel, .apexcharts-datalabel-label, .apexcharts-datalabel-value, .apexcharts-datalabels, .apexcharts-pie-label {
    fill: white;
    stroke: black;
    font-size: 1rem;
}

.empty-direita {
    margin: 0;
    text-align: center;
}

.empty-direita-um {
    margin: 2rem 2rem 0rem 2rem;
    text-align: center;
    padding-bottom: 3rem;
}

.empty {
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
    margin: 2rem auto;
    box-sizing: border-box;
    text-decoration: none;
    display: block;
}

.destaque-grafico {
    background-color: var(--preto);
    color: var(--branco); /* Adiciona uma cor de texto para garantir que a escrita seja visível */
    padding-bottom: 1rem; /* Adiciona algum espaçamento interno para que o texto não fique colado nas bordas */
    border-radius: 5px; /* Adiciona bordas arredondadas se desejar um efeito mais estilizado */
    display: inline-block; /* Isso faz com que o fundo se ajuste ao tamanho do conteúdo */
}

.info-grafico-vazio {
    text-align: center; /* Alinha o texto e a imagem ao centro */
    justify-content: center;
    line-height: 2rem;
}

.destaque-grafico {
    background-color: var(--preto);
    color: var(--branco); /* Adiciona uma cor de texto para garantir que a escrita seja visível */
    padding: 10px; /* Adiciona algum espaçamento interno */
    border-radius: 5px; /* Borda arredondada se desejar */
    display: inline-block; /* Ajusta o fundo ao tamanho do conteúdo */
    z-index: 10; /* Garante que o texto fique acima da imagem */
}

.destaque-dois {
    background-color: var(--preto);
    color: var(--branco);
    display: inline-block;
    padding: 0rem 0.5rem;
    border-radius: 1rem;
    font-weight: bold;
}

.destaque-tres {
    background-color: var(--branco-escuro);
    color: var(--roxo);
    display: inline-block;
    padding: 0rem 0.5rem;
    border-radius: 1rem;
    font-weight: bold;
    border: 2px solid var(--roxo);
    margin: 0.125rem 0rem;
}

.bloco1-1 p {
    padding-right: 5rem;
    margin: 0;
    text-align: left;
}


.busca-filtros-treinamento {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-between;
}

.busca-filtros-treinamento .campo-busca {
    padding: 0.35rem;
    border: 1px solid rgb(134, 134, 134, 0.25);
    color: var(--preto);
    font-weight: bold;
    border-radius: 10rem;
    box-sizing: border-box;
    width: 71%;
    height: 2.5rem;
}

.busca-filtros-treinamento .filtro {
    padding: 0.35rem;
    border: 3px solid var(--roxo);
    color: var(--roxo);
    font-weight: bold;
    border-radius: 10rem;
    box-sizing: border-box;
    width: 14%;
}

.busca-filtros-treinamento .filtro:hover {
    color: var(--branco);
}

@media (max-width: 1000px) {
    .busca-filtros-treinamento .campo-busca {
        width: 38%;
    }

    .busca-filtros-treinamento .filtro {
        width: 30%;
    }

    .busca-filtros-treinamento .filtro:hover {
        width: 30%;
        color: var(--branco);
    }
}


.arealizar{
    width: 100%;
    background-color: var(--vermelho-escuro);
    text-align: center;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: var(--branco);
    height: 2rem;
    font-weight: bold;
    vertical-align: center;
    padding-top: 0.5rem;
}

.realizado{
    width: 100%;
    background-color: var(--verde);
    text-align: center;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: var(--branco);
    height: 2rem;
    font-weight: bold;
    vertical-align: center;
    padding-top: 0.5rem;
}

.sem-treinamentos{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
}

.mensagem-sem-treinamento{
    text-align: center;
}

.imagem-sem-treinamento{
    box-sizing: border-box;
    width: 90%;
}

.conteiner-botao-dois{
    display: flex;
    width: 90%;
    padding-left: 10%;
    align-self: center;
    padding-bottom: 2rem;
    justify-content: flex-start;
}