
@media (max-width: 768px) {
    .metricas {
        width: 100%;
    }
}

.metricas {
    display: flex;
    justify-content: space-around; /* Distribui os blocos igualmente ao redor */
    align-items: center; /* Centraliza os itens verticalmente */
    width: 80%;
    margin: auto;
    text-align: center;
    border: 2px solid red;
    border-radius: 1rem;
    flex-wrap: wrap-reverse;
}

.bloco1, .bloco2, .bloco3 {
    flex: 1; /* Cada bloco ocupa a mesma quantidade de espaço disponível */
    height: 30rem; /* Altura desejada */
    box-sizing: border-box; /* Garante que a borda não aumente o tamanho total */
    margin: 0.25rem;
    border-radius: 1rem;
    min-width: 6rem;
    
}

.bloco1 {
    border: 2px solid orange;
}

.bloco2 {
    border: 2px solid green;
}

.bloco3, .grafico1, .grafico2 {
    border: 2px solid blue;
    border-radius: 0.25rem;
    margin: 0.5rem;
}


.bloco2-1, .bloco2-2, .bloco2-3{
    box-sizing: border-box; /* Garante que a borda não aumente o tamanho total */
    border-radius: 0.25rem;
    margin: 0.5rem;
}


.bloco2-1, .bloco2-2, .bloco2-3 {
    border: 2px solid green;
}

